<h1><%= @dish.name %></h1>
<h2>Chef: <%= @dish.chef.name %></h2>
<h2>Ingredients:</h2>
<%= @dish.ingredients.each do |ingredient| %>
<p><%= ingredient.name %></p>
<% end %>
<h3>Total Calorie Count: <%= @dish.total_calorie_count %></h3>
